@@media only screen and (max-width: 480px) {
    /* Стили для мобильных устройств */
    body {
        font-weight: bold;
        font-size: 14px;
        padding: 10px;
    }
}

#a{
    /* background: blue ; */
    /* color: yellow; */
    border-style: solid;
    border-width: 6px;
    padding-left: 10px;
    border-color: grey;
    background-color: #5636F7;
    border-radius: 15px;
}
.choose{
font-weight: bold;
    user-select: none;
     -moz-user-select: none;
     -ms-user-select: none; 
    display: flex;          
    flex-wrap: wrap;      
    gap: 10px;  
    
}
img{
    width: 80px;
}
#container{
   font-weight: bold;
    margin-left: 16px;

    display: flex;         
    flex-wrap: wrap;       
    gap: 10px;             
}
    
} 
#container {
    font-weight: bold;
    margin-left: 16px;

    display: flex;         
    flex-wrap: wrap;       
    gap: 10px;             
}

#p1{
margin-right:16px;
    border-style: solid;
    border-width: 4px;
    border-color: violet;
    background-color: violet;
    border-radius: 4%;
    color:white;
}
#p2{
            
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
}
p{
    color:gold;
    background-color:grey;
}
